#hedera-banner-wrapper {
  width: 100%;
}

#hedera-banner-wrapper #banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'StyreneA-Light', 'Helvetica Neue', sans-serif;
  position: relative;
  z-index: 100;
}

#hedera-banner-wrapper .yellow {
  background: #eada0b;
  width: 100%;
}

/**
  * Notification styles
  **/

#hedera-banner-wrapper #banner.blue {
  background: #8259ef;
}

#hedera-banner-wrapper #banner p {
  color: #464646;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'StyreneA-Light', 'Helvetica Neue', sans-serif;
  padding-left: 8em;
}

#hedera-banner-wrapper #banner ul {
  display: flex;
  margin: -17px 0 0;
  padding: 0;
  align-items: center;
  justify-content: flex-end;
}

#hedera-banner-wrapper #banner li {
  list-style: none;
  margin-right: 20px;
  margin-right: 60px;
  padding: 0 4px 0 4px;
  border: 1px solid white;
  border-radius: 25px;
}

#hedera-banner-wrapper #banner ul#button-group li {
  line-height: 20px;
}

#hedera-banner-wrapper #banner ul#button-group li .unstyled-button {
  border: none;
  padding: 0;
  background: none;
  font-size: 12px;
  color: #464646;
  justify-content: center;
  line-height: 20px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'StyreneA-Light', 'Helvetica Neue', sans-serif;
}

#hedera-banner-wrapper #banner.blue p {
  color: #f9f9f9;
  line-height: 12px;
}

#hedera-banner-wrapper #banner__options {
  color: #222;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  padding-left: 25px;
  position: relative;
}

#hedera-banner-wrapper [type='radio']:checked,
#hedera-banner-wrapper [type='radio']:not(:checked),
#hedera-banner-wrapper [type='checkbox']:checked,
#hedera-banner-wrapper [type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}

#hedera-banner-wrapper [type='checkbox'] + label,
#hedera-banner-wrapper [type='checkbox']:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 12px;
  display: inline-block;
  color: #222;
  font-family: 'StyreneA-Light', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

#hedera-banner-wrapper [type='radio']:checked + label,
#hedera-banner-wrapper [type='radio']:not(:checked) + label,
#hedera-banner-wrapper [type='radio']:checked + label::before,
#hedera-banner-wrapper [type='radio']:not(:checked) + label::before,
#hedera-banner-wrapper [type='checkbox']:checked + label::before,
#hedera-banner-wrapper [type='checkbox']:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 14px;
  height: 14px;
  border: 1px solid #222;
  border-radius: 100%;
  background: #eada0b;
}

#hedera-banner-wrapper [type='radio']:not(:checked) + label::after,
#hedera-banner-wrapper [type='checkbox']:not(:checked) + label::after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

#hedera-banner-wrapper [type='radio']:checked + label::after,
#hedera-banner-wrapper [type='checkbox']:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#hedera-banner-wrapper #banner__authorize {
  align-items: center;
  display: flex;
  justify-content: center;
}

#hedera-banner-wrapper #banner__authorize-text {
  padding-right: 69px;
}

#hedera-banner-wrapper [type='checkbox']:not(:checked) + label {
  color: #f9f9f9;
  line-height: 12px;
}

#hedera-banner-wrapper [type='checkbox']:not(:checked) + label::before {
  border-color: #fff;
  background-color: #8259ef;
}

#hedera-banner-wrapper #banner__close {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 11px;
}

#hedera-banner-wrapper .bold-text {
  font-weight: bold;
}

#hedera-banner-wrapper #login-status {
  display: 'none';
}
